*.pyc
*.swp
*.tmproj
env
.env
pip-log.txt
templates/version.txt
src/.noseids
.DS_Store
build/
.com.apple.timemachine.supported
.ropeproject
.idea
*.sublime-project
*.sublime-workspace
nosetests.xml
.coverage
.vagrant
.venv

