{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="Alexander Attar" content="">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

    <title>HiFi</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
  </head>

  <body>

    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Begin page content -->
      <div class="container">
        <div class="page-header">
          <h1>HiFi</h1>
        </div>
        <p class="lead">Coming soon...</p>
        <div id="target"></div>
      </div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted credit">&copy; HiFi 2013 - <a href="http://4lexander.com">Alexander Attar</a></p>
      </div>
    </div>

    <!-- plugins -->
    <script type="text/javascript" src="http://connect.soundcloud.com/sdk.js"></script>
    <script src="{% static 'js/sound.js' %}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>

</html>